<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container0 my-1">

  <footer class="text-white text-center text-lg-start" style="background-color:rgb(39, 76, 119);">
    <!-- Grid container -->
    <div class="container pt-3">
      <!--Grid row-->
      <div class="row ">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">About AlumniFactory</h5>

          <p>
            Our experts at Career Services advise and inform students and graduates on questions relating to the world
            of work and career topics. In their role as the university's interface to the business community, Career
            Services can offer companies access to highly qualified potential employees and junior staff.
          </p>



        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <ul class="fa-ul" style="margin-left: 4.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Vienna, AT 1140</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">info@alumnifactory.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+43 1 234567</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+43 660666600</span>
            </li>
            <div class="m-0">
              <div class="loader"></div>
            </div>
          </ul>
        </div>
        <!--Grid column-->


        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Opening hours</h5>

          <table class="table text-center text-white">
            <tbody class="font-weight-normal">
              <tr>
                <td>Mon - Thu:</td>
                <td>8am - 4pm</td>
              </tr>
              <tr>
                <td>Fri - Sat:</td>
                <td>8am - 1am</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td>Closed</td>

              </tr>

            </tbody>
          </table>


          <div class="rating">
            <h3>Rate Us</h3>
            <input type="radio" id="star1" name="rate" value="1">
            <label for="star1" title=""></label>
            <input type="radio" id="star2" name="rate" value="2">
            <label for="star2" title=""></label>
            <input type="radio" id="star3" name="rate" value="3">
            <label for="star3" title=""></label>
            <input type="radio" id="star4" name="rate" value="4">
            <label for="star4" title=""></label>
            <input type="radio" id="star5" name="rate" value="5">
            <label for="star5" title="">
            </label>
          </div>

        </div>

        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

      © 2023 Copyright:
      <a class="text-white" href="#">AlumniFactory</a>

    </div>
    <!-- Copyright -->
  </footer>

</div>

<!-- End of .container -->