<div class="imgCover">
    <img src="/assets/images/Merge/main.jpg" alt="">
</div>
<div class="container">

    <div class="title text-center">
        <h1>Alumni Merge</h1>
    </div>
    <div class="content">
        
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <div *ngFor="let item of events_arr index as id" >
    
                <div class="card" style="width: 18rem;">
                    
                    <a (click)="show(id)" >
                    <img src="/assets/images/{{item.photo}}" class="card-img-top" title="Click for full photo" >
                    </a>
                    <div class="card-body">
                      <h5 class="card-title">{{item.name}}</h5>
                      <h5 class="card-title red">
                        <div *ngIf="item.available == false">
                            Not Available!!
                        </div>
                      </h5>
                      <div *ngIf="(id != id_detail)" >
                        <button class="btn btn-primary" routerLink="/merge/{{id}}">Show Detail</button>
                      </div>
                      <div *ngIf="(id == id_detail)" id="current">
                        <button class="btn btn-primary" routerLink="/merge">Hide Detail</button>
                        <h5 class="card-title">normal price : {{item.price | currency}}</h5>
                        <h5 class="card-title">member price : {{item.xprice | currency}}</h5>
                        <p class="card-text" >
                            {{item.description}}
                        </p>
                      </div>
                    </div>
                </div>
    
                
            </div>
            </div>
        </div>
        
    </div>
    



