<div class="aboutContent">
  <!-- Title&AboutParagraf -->
  <div class="mainAbout">
    <h1>About Us</h1>
    <p>
      Founded in 2016, CodeFactory Wien follows the concept of programming boot
      camps of Anglo-American countries. Our goal is to provide time-efficient
      and very practice-oriented training with the aim of the fastest possible
      career entry as a junior developer.
    </p>
    <p>
      The Alumni Club is a foundation designed to unite participants and help
      them develop in the technology industry.
    </p>
  </div>
  <!-- PageMainContent -->
  <div class="mainContent">
    <!-- Facts -->
    <div class="mainFacts">
      <h2>Facts&Figures</h2>
      <h5>Learn more about CodeFactory</h5>
      <ul>
        <li>
          <span>Our success story: </span>
          <p>Over 500 graduates in seven years. Placement rate of 75%.</p>
        </li>
        <li>
          <span>Our biggest advantage:</span>
          <p>
            We know that programming languages and technical skills alone are
            not enough, we put great emphasis on holistic training.
          </p>
        </li>
        <li>
          <span>Campus and course life:</span>
          <p>
            We support everyone's personal circumstances by offering online and
            offline attendance.
          </p>
        </li>
      </ul>
    </div>
    <!-- Team -->
    <div class="mainTeam">
      <h2>Team</h2>
      <h5>Meet the Team</h5>
      <div
        class="team row row-cols-lg-4 ow-cols-md-3 ow-cols-sm-2 ow-cols-xs-1 justify-content-center"
      >
        <div class="teamCard" *ngFor="let member of team">
          <div class="card pt-2" style="width: 18rem">
            <img src="{{ member.img }}" />
            <h5>{{ member.name }}</h5>
            <h6>{{ member.position }}</h6>
            <span
              ><a href="#"><i class="bi bi-linkedin"></i></a
            ></span>
          </div>
        </div>
      </div>
    </div>
    <!-- Location -->
    <div class="mainLocation">
      <h2>Alumni Lounge</h2>
      <p>
        The Alumni Lounge is a Co-Working Area in the middle of Vienna. Benefit
        as a member and use the facilities for free. Be part of networking and a
        Co-Working-Community.
      </p>
      <p>Link: Become a member</p>
      <div class="images">
        <div id="lounge1">
          <img
            src="https://cdn.pixabay.com/photo/2014/12/27/15/40/office-581131_1280.jpg"
            alt=""
          />
          <p></p>
        </div>
        <div id="lounge2">
          <img
            src="https://cdn.pixabay.com/photo/2017/04/23/18/59/table-2254656_1280.jpg"
            alt=""
          />
          <p></p>
        </div>
      </div>
    </div>
    <!-- Rating -->
    <div class="mainRating">
      <h2>Brand Ambassador</h2>
      <h5>This is what Alumnis say about Us</h5>
      <div
        class="alumnis row row-cols-lg-4 ow-cols-md-3 ow-cols-sm-2 ow-cols-xs-1 justify-content-center"
      >
        <div class="alumniCard" *ngFor="let alumni of rating">
          <div class="card" style="width: 18rem">
            <img src="{{ alumni.img }}" alt="" />
            <p>"{{ alumni.quote }}"</p>
            <h6>{{ alumni.name }}</h6>
            <hr />
            <p>
              Knowledge: <span> &#9733; </span><span> {{ alumni.rate1 }}</span
              >/10
            </p>
            <p>
              Ambience: <span> &#9733; </span><span> {{ alumni.rate2 }}</span
              >/10
            </p>
            <p>
              Community: <span> &#9733; </span><span> {{ alumni.rate3 }}</span
              >/10
            </p>
            <p>
              Trainers: <span> &#9733; </span><span> {{ alumni.rate4 }}</span
              >/10
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
