<div class="aboutContent">
  <!-- Title&AboutParagraf -->
  <div class="mainAbout">
    <h1>About Us</h1>
    <p></p>
  </div>
  <!-- PageMainContent -->
  <div class="mainContent">
    <!-- Facts -->
    <div class="mainFacts">
      <h2>Facts&Figures</h2>
      <p>Learn more about CodeFactory.</p>
      <ul>
        <li>
          <span></span>
          <p></p>
        </li>
        <li>
          <span></span>
          <p></p>
        </li>
        <li>
          <span></span>
          <p></p>
        </li>
      </ul>
    </div>
    <!-- Team -->
    <div class="mainTeam">
      <h2>Team</h2>
      <p>Meet the Team.</p>
      <div class="team">
        <div class="teamCard"></div>
      </div>
    </div>
    <!-- Location -->
    <div class="mainLocation">
      <h2>Alumni Lounge</h2>
      <p>
        The Alumni Lounge is a Co-Working Area in the middle of Vienna. Benefit
        as a member and use the facilities for free. Be part of networking and a
        Co-Working-Community.
      </p>
      <div class="images">
        <div id="lounge1">
          <img src="" alt="" />
          <p></p>
        </div>
        <div id="lounge2">
          <img src="" alt="" />
          <p></p>
        </div>
      </div>
    </div>
    <!-- Rating -->
    <div class="mainRating">
      <h2>Brand Ambassador</h2>
      <p>Read what Alumnis say about our Services.</p>
      <div class="alumnis">
        <div class="alumniCard"></div>
      </div>
    </div>
  </div>
</div>
