#intro-example {
  height: 15vh;
  // background-repeat: repeat;
  background-size: 100%;
  background: linear-gradient(180deg, rgba(184, 184, 184, 1) 0%, rgba(255, 255, 255, 1) 2%, rgba(233, 233, 233, 1) 43%, rgba(224, 224, 224, 1) 100%);

}

.navbar {
  position: relative;
  margin: 0px;
}