<header>


  <div id="intro-example" class="p-5 mt-5 mb-3 text-center">
    <div class="mask rounded-3" style="background-color: rgba(0, 0, 0, 0);">
      <!-- <div class="d-flex justify-content-center align-items-center h-100"> -->
      <div class="text-white">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Mehdi
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/achievements">Achievements</a></li>
                    <li><a class="dropdown-item" routerLink="/events">Events</a></li>
                    <li><a class="dropdown-item" routerLink="/merge">Merge</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Jenufa
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/career">Careers & Jobs</a></li>
                    <li><a class="dropdown-item" href="#">Rating</a></li>
                    <li><a class="dropdown-item" routerLink="/about">About us</a></li>
                    <li><a class="dropdown-item" href="#">Team</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Mara
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/membership">Members</a></li>
                    <li><a class="dropdown-item" routerLink="/forms-of-membership">Forms of Membership</a></li>
                    <li><a class="dropdown-item" routerLink="/get-active">Get Active</a></li>
                    <li><a class="dropdown-item" routerLink="/mentoring">Mentoring</a></li>
                    <li><a class="dropdown-item" routerLink="/benefits">Benefits</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Emelin
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/stories">Stories</a></li>
                    <li><a class="dropdown-item" routerLink="/alumni-directory">Alumni</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Hesham
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- <a class="btn btn-outline-light btn-lg m-2" routerLink="/menu" role="button" rel="nofollow">Menu</a>
          <a class="btn btn-outline-light btn-lg m-2" routerLink="form" role="button">Book a Table</a> -->
      </div>
    </div>
  </div>

  <!-- </div> -->
  <!-- Background image -->
</header>