#intro-example {
  height: 10vh;
  // background-repeat: repeat;
  background-size: 100%;
  background: rgba(241, 241, 241, 0.5)
}

.navbar {
  padding-top: 10px;
  position: relative;
  margin: 0px;
  background: none;

}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: rgb(150, 176, 255);
}

#navbarNavDropdown {
  margin-top: 5px;
}