<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let alumni of alumniData">
                <div class="card mb-6">
                    <img [src]="alumni.photo" class="card-img-top" alt="Alumni Photo">
                    <div class="card-body">
                        <h3 class="card-title">{{ alumni.name }}</h3>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary" (click)="showDetails(alumni)">Achievment</button>
                            <a class="btn btn-secondary" routerLink="/stories">Stories</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" *ngIf="selectedAlumni">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{{ selectedAlumni.name }}</h3>
                    <button type="button" class="close" (click)="selectedAlumni = null">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img [src]="selectedAlumni.photo" class="" alt="Alumni Photo">
                    <p id="p_1">Achievements:<br> {{ selectedAlumni.text }}</p>
                    <p id="modal-text">Career: {{ selectedAlumni.career }}</p>
                    <p id="modal-text">Score: {{ selectedAlumni.achievements }}</p>
                </div>
            </div>
        </div>
    </div>
</section>