.card {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background: linear-gradient(to bottom, #87cefa, #1e90ff);
    margin: 30px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(to bottom, #87cefa, #1e90ff); */
}

.modal-dialog {
    max-width: 600px;
    max-height: 800px;

}

.modal-content {
    background-color: #E7ECEF;
    border-radius: 15px;
    padding: 5px;
    text-align: left;
    font-size: 22px;
}

.modal-body {
    background: linear-gradient(to bottom, #87cefa, #1e90ff);
}

.modal-body img {
    width: 100px;
    height: 140px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px black;
}


#modal-text {
    font-size: 20px;

    &:hover {
        text-shadow: 3px 3px 3px white;
    }
}

.modal-title {
    font-size: 28px;
    text-shadow: 3px 3px 3px gray;

    &:hover {
        font-size: 30px;
        text-shadow: 3px 3px 3px #1e90ff;
    }
}

section {
    background-color: #E7ECEF;
}

#p_1 {
    padding-top: 10px;
    padding-bottom: 10px;
}