@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.slide {
    margin: 0;
    padding: 0;
}

.taller-div {
    height: 200px;
    /* Adjust the height value as needed */
    position: relative;
    background-color: rgba(128, 128, 128, 0.103);

}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 70px;
    text-shadow: 3px 3px 3px #6096BA;
    letter-spacing: 4px;
    z-index: 1;
    transition: 0.5s ease;
    font-family: 'Dancing Script', cursive;

    &:hover {
        color: #6096BA;
        text-shadow: 2px 2px 2px black;
        font-size: 100px;

    }
}


img {
    height: 1000px;

}

h2 {
    font-size: 40px;
    transition: 1s ease;



    &:hover {
        color: #6096BA;
        text-shadow: 2px 2px 2px black;
        font-size: 45px;
        font-weight: bold;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

p {
    font-size: 20px;

    &:hover {
        color: #6096BA;
        text-shadow: 2px 2px 2px black;
    }
}

.div_h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.421);
    opacity: 0.8;
    margin: 0 auto;
    width: 40%;
    border-radius: 20px;
    /* transform: translate(-50%, -50%); */
}

.alumni-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .alumni-item {
    height: 700px;
    position: relative;
} */

.carousel-caption {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 15px;
    transform: translate(0%, -30%);
}

.marquee {
    color: #6096BA;
    font-size: 26px;
    text-shadow: 2px 2px 2px black;

    &:hover {
        font-size: 28px;
        color: black;
        font-family: 'Dancing Script', cursive;
        text-shadow: 2px 2px 2px #6096BA;
    }

}