/* * {
    margin: 0;
    padding: 0;
} */

.taller-div {
    height: 485px;
    /* Adjust the height value as needed */
    position: relative;

}

.text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 60px;
    letter-spacing: 4px;
    z-index: 1;

    &:hover {
        color: #6096BA;
        text-shadow: 2px 2px 2px black;
        font-size: 100px;
    }
}

.carousel-item {
    height: 700px;
}

/* .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
    animation: moveUpDown 2s ease-in-out infinite;
} */

img {
    height: 800px;
    width: 90%;
}

h2 {
    font-size: 40px;

    &:hover {
        color: #6096BA;
        text-shadow: 2px 2px 2px black;
        animation: rotate 0.7s linear;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

p {
    font-size: 28px;

    &:hover {
        color: #6096BA;
        text-shadow: 2px 2px 2px black;
    }
}

.div_h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: gray;
    opacity: 0.8;
    margin: 0 auto;
    width: 40%;
    border-radius: 20px;
    /* transform: translate(-50%, -50%); */
}

.alumni-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.alumni-item {
    height: 700px;
    position: relative;
}