<div class="taller-div">
    <!--   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#6096BA" fill-opacity="0.6"
            d="M0,256L34.3,218.7C68.6,181,137,107,206,85.3C274.3,64,343,96,411,133.3C480,171,549,213,617,218.7C685.7,224,754,192,823,160C891.4,128,960,96,1029,80C1097.1,64,1166,64,1234,80C1302.9,96,1371,128,1406,144L1440,160L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z">
        </path>
    </svg> -->
    <div class="marquee position-relative top-50">
        <marquee width="100%" direction="right" height="100px">
            TARIQ JONATHAN ELISABETH KARLA ROSE MARTIN
        </marquee>
    </div>
    <div class="text">
        STORIES
    </div>

</div>
<!-- --------------------------------Another section slideshow ----------------------------------------------------------- -->







<!-- slide -->
<div class="container-fluid slide">
    <div id="carouselExampleCaptions" class="carousel slide container-fluid">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/alumni/college-student.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="div_h2">
                        <h2>Martin</h2>
                    </div>
                    <p>Once an eager student at CCS, Martin embarked on a transformative journey. With relentless
                        dedication and a thirst for knowledge, he delved into computer science, tackling complex
                        problems with unwavering determination. Through internships and collaborative projects, he honed
                        his skills, paving the path to a successful career. Today, John serves as a trailblazer,
                        inspiring future generations with his remarkable story of passion, perseverance, and triumph.
                    </p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="assets/alumni/girl-campus.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="div_h2">
                        <h2>Rose</h2>
                    </div>
                    <p>From her early days at CCS, Rose exhibited a remarkable flair for creativity and design. With an
                        innate eye for aesthetics and a love for coding, she embarked on a journey that merged her
                        passions seamlessly. Through countless projects and innovative solutions, Rose has left an
                        indelible mark on the world of digital design. Her story is a testament to the power of
                        imagination, determination, and the boundless possibilities of technology.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/alumni/student-campus.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="div_h2">
                        <h2>Karla</h2>
                    </div>
                    <p>Karla, a creative soul with a passion for design, left an indelible mark during her time at CCS.
                        Her imaginative approach to problem-solving and innovative design solutions set her apart.
                        Through internships and hands-on experiences, Karla honed her skills and embraced collaboration,
                        bringing her unique perspective to every project. Today, she thrives as a visionary in the
                        design industry, inspiring others with her artistic flair and unwavering dedication to
                        excellence.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/alumni/elisabeth.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="div_h2">
                        <h2>Elisabeth</h2>
                    </div>
                    <p>From the moment Elisabeth stepped into CCS, her passion for environmental sustainability was
                        evident. Through her academic journey, she immersed herself in research and projects centered
                        around eco-friendly solutions. Her dedication led her to participate in international
                        conferences and collaborate with leading experts in the field. Today, Elisabeth is an
                        environmental advocate, spearheading initiatives that make the world a greener and more
                        sustainable place for generations to come. Her unwavering commitment to the planet inspires us
                        all.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/alumni/Leonardo.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="div_h2">
                        <h2>Jonathan</h2>
                    </div>
                    <p>Jonathan's journey at CCS was marked by his profound love for art and technology. As a creative
                        soul, he fused his passion for design with cutting-edge technology, pushing the boundaries of
                        visual storytelling. His innovative projects caught the attention of renowned artists and
                        industry leaders, propelling him into a career that blends artistry and technology seamlessly.
                        Today, Jonathan continues to mesmerize audiences with his captivating creations, leaving an
                        indelible mark on the intersection of art and technology.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/alumni/student_1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block pb-3">
                    <div class="div_h2">
                        <h2>Tariq</h2>
                    </div>
                    <p>Tariq, a curious mind with a knack for problem-solving, embarked on a captivating journey at CCS.
                        His insatiable appetite for knowledge led him to explore the realms of artificial intelligence
                        and machine learning. Through tireless experimentation and groundbreaking research, Tariq
                        developed groundbreaking algorithms that revolutionized the industry. Today, his contributions
                        have transformed the way we perceive and interact with technology, earning him accolades and
                        recognition as a visionary in the field. Tariq's story serves as a testament to the limitless
                        possibilities that lie within the realm of computer science.
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
</div>

<div class="modal" *ngIf="selectedAlumni">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ selectedAlumni.name }}</h3>
                <button type="button" class="close" (click)="selectedAlumni = null">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img [src]="selectedAlumni.photo" class="img-fluid" alt="Alumni Photo">
                <p id="modal-text">Career: {{ selectedAlumni.career }}</p>
                <p id="modal-text">Achievements: {{ selectedAlumni.achievements }}</p>
            </div>
        </div>
    </div>
</div>


<!-- slide end -->


<script src="script.js"></script>