h2 {
    margin-top: 4rem;
    // margin-left: 80px;
    text-align: center;
}

.mentoring {
    display: flex;
    // margin: 80px;
    padding: 4rem;

    #mentoringP {
        margin: 0 auto;
        padding-top: 3%;
        padding-left: 5%;
    }
}
.contact {
    // margin-left: 590px; 
    margin-bottom: 1rem;
    // padding-top: 10%;
    display: flex;
    justify-content: center;
    // gap: 50px;
    }

button {
    background: #A3CEF1;
    border: none;
    padding: 5px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    width: 190px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.362);
    margin-right: 5px;
}
span {
    display: inline-block;
    transform: skew(21deg);
}
button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #E7ECEF;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  button:hover {
    color: black;
  }
  
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }


@media (max-width: 650px) {
    .mentoring {
        flex-direction: column;
        align-items: center;
}
}


@media (max-width: 768px) {
    .mentoring {
        flex-direction: column;
        align-items: center;

}
}


@media (max-width: 960px) {
    .mentoring {
        flex-direction: column;
        align-items: center;

}

}

