<div class="careerContent">
  <div class="mainCareer">
    <h1>Career&Jobs</h1>
    <p>...</p>
  </div>
  <!-- PageMain Content -->
  <div class="mainCareerContent">
    <!-- Featured Projcts -->
    <div class="mainProjects">
      <h2>Featured Alumni Projects</h2>
      <p>...</p>
      <div class="projects">
        <div class="projectCard"></div>
      </div>
    </div>
    <!-- Career Pages -->
    <div class="careerPages">
      <h2>Career Pages</h2>
      <p>...</p>
      <div class="pageOne"></div>
      <div class="pageTwo"></div>
    </div>
    <!-- Career Service -->
    <div class="careerService">
      <h2>Career Service</h2>
      <p>...</p>
      <div class="download">
        <h4>CV</h4>
        <p>...</p>
        <p>Download CV</p>
      </div>
      <div class="contact">
        <h4>Counseling</h4>
        <p>...</p>
        <p>...</p>
      </div>
    </div>
  </div>
</div>
