<div class="careerContent">
  <div class="mainCareer">
    <h1 class="mt-5 mb-5 fs-1 pt-3 pb-3 text-primary text-center">
      Career & Jobs
    </h1>
    <p></p>
  </div>
  <!-- PageMain Content -->
  <div class="mainCareerContent">
    <!-- Featured Projcts -->
    <div class="mainProjects">
      <h2 class="mt-5 mb-5 text-primary-emphasis fs-1 pt-3 pb-3 text-center">
        Featured Alumni Projects
      </h2>
      <p></p>
      <div class="projects">
        <div class="projectCard">
          <div class="view overlay" style="width: 18rem">
            <img src="" /><a href="#"></a><br />
          </div>
        </div>
      </div>
      <!-- Career Service -->
      <div class="careerService">
        <h2 class="mt-5 mb-5 text-primary-emphasis fs-1 pt-3 pb-3 text-center">
          Career Service
        </h2>
        <div class="d-flex ms-3 me-3 mt-3 mb-3 justify-content-around">
          <div class="card mb-3 border-0" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">CV Check</h5>
              <p class="card-text">
                Review your CV to raise your profile. Find inspirations and
                learn from the professionals.
              </p>
              <a
                href="https://www.cvmaker.de/lebenslauf-vorlagen?msclkid=36f0eeabf3aa1cca8f308a0fe3e2e2d3&utm_source=bing&utm_medium=cpc&utm_campaign=3.0%20CV%20%2B%20bijwoord%20(AT)&utm_term=lebenslauf%20vorlage%20pdf&utm_content=template"
                target="_blank"
                class="btn btn-primary"
                >Start now</a
              >
            </div>
          </div>

          <div class="card mb-3 border-0" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">CV Template</h5>
              <p class="card-text">
                Design your CV using a professional template.
              </p>
              <br />
              <a href="#" class="btn btn-primary">Download</a>
            </div>
          </div>

          <div class="card mb-3 border-0" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">Counceling</h5>
              <p class="card-text">
                Make an appointment to discuss your career opportunities with
                one of our experts.
              </p>
              <a href="#" class="btn btn-primary">Get in contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
