h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.typesAndPayment {
    margin-left: 50px;
    margin-right: 50px;
    
}


.membershipFormInfo {
    height: 200px;
    background-color: #edede9;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
}

.membershipForms {
    height: 300px;
    background-color: #f5ebe0;
    margin-bottom: 20px;
    padding-left: 50px;
}

.paymentInfo {
    height: 300px;
    background-color: #edede9;
    padding-left: 50px;
}