<!-- <p>forms-of-membership works!</p> -->

<div class="typesAndPayment">
    <h2>Membership opportunities</h2>

    <div class="container">
        <div class="leftSide">
            <div class="membershipFormInfo">
                <h4>Become a member</h4>
                <p>Memberships are a form of participation. <br> They are created for course-participants and graduates.
                    <br>As an active member you will be informed about current topics, enjoy benefits and profit from
                    our network.
                </p>
                <p></p>
            </div>
            <div class="membershipForms">
                <h4 class="pb-3">Types of memberships</h4>
                <h6>Membership during the course</h6>
                <p>be part and don't pay fees - Juhuu!</p>
                <h6>Membership Bonus</h6>
                <p>20€ for 1 year after your course</p>
                <h6>Normal Membership</h6>
                <p>pay 30€/ year and enjoy all benefits</p>
                <button routerLink="/membershipForm">
                    <span>Become member</span>
                </button>
                <button routerLink="/renewData">
                    <span>Renew data</span>
                </button>
                <p class="pt-3">or fill out <a href="">this</a> form and return it to us</p>
            </div>

        </div>
        <!-- <div class="middle">
            <img src="https://images.pexels.com/photos/3810792/pexels-photo-3810792.jpeg?auto=compress&cs=tinysrgb&w=1600"
                alt="beAteam" height="700px">
        </div> -->
        <div class="rightSide">
            <div class="paymentInfo">
                <p><u>choose the easiest way to pay:</u></p>
                <br>
                <h4>SEPA direct payment</h4>
                <p>Just download the form <a href="">here</a> and return it filled out and signed, either per post or
                    per email</p>
                <br>
                <h4>payment slip</h4>
                <p>get our payment slips yearly and don't forget to pay</p>
            </div>
            <div class="membershipWhy">

                <h4>Why become a member?</h4>

                <ul>
                    <li>to stay informed</li>
                    <li>to broaden your knowledge</li>
                    <li>to find allies</li>
                    <li>to have the newest coding infos</li>
                    <li>to challenge yourself and others</li>
                    <li>to build a network and support-system</li>
                </ul>
            </div>
        </div>
    </div>
</div>