<!-- <p>forms-of-membership works!</p> -->

<div class="typesAndPayment">
<h2>Membership opportunities</h2>

<div class="membershipFormInfo">
    <h3>Become a member</h3>
    <p>Memberships are a form of participation in our alumni network. They are created for participants and graduates of our courses and. As an active member you will be informed about current topics, enjoy benefits and profit of our networking opportunities.</p>
    <p></p>
</div>
<div class="membershipForms">
    <h3>Types of memberships</h3>
    <p><b>Membership during the course: </b>you are able to be part wihtout paying any fees<br><b>Membership Bonus: </b>20€ for 1 year after you finished the course<br><b>Normal Membership: </b>pay 30€/ year and enjoy all benefits</p>
    <button>Become a member</button>
    <button>Renew your data</button>
    <p>If you don't want to submit your data online, just fill out <a href="">this</a> form and send it to us</p>
</div>
<div class="paymentInfo">
    <p>choose the easiest way to pay:</p>
    <h4>SEPA direct payment</h4>
    <p>Just download the form <a href="">here</a> and return it filled out and signed, either per post or per email</p>
    <h4>payment slip</h4>
    <p>get our payment slips yearly and don't forget to pay</p>
</div>
</div>
