<div class="imgCover">
    <img src="/assets/images/Achievements/main.jpg" alt="">
</div>
<div class="container">

    <div class="title">
        <h1>Alumni Achievements</h1>
    </div>
    <div class="content">
        <div class="row row-cols-lg-2 row-cols-md-1">
        <div *ngFor="let item of alumni_arr index as id">

            <div class="card" style="width: 26rem;">
                <img class="card-img-top" src="/{{item.photo}}" >
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">Career: {{item.career}}</p>
                  <p class="card-text">Achievements: {{item.achievements}}</p>
                </div>
            </div>

        </div>
        </div>
        
    </div>

</div>

