*, ::after , ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    margin:auto;
    text-align: center;
}

.container > .img_hero {
    text-align: center;
}

.container > .title {
    color : #58595b;
    margin: 20px;
}

.container > .content {
    font-family: Gotham SSm\ 4r,Gotham SSm A,Gotham SSm B,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    color: #333;
    margin:auto;
    max-width: 1000px;

    p {
        text-align: justify;
        margin: 10px;
    }

    .detail {
        display: flex;
        margin-top: 30px;
    }
}
