<div class="container">
    <div class="img_hero">
        <img src="../assets/images/achievements/main.jpg" alt="">
    </div>
    <div class="title">
        <h1>Alumni Achievements</h1>
    </div>
    <div class="content">
        <p>
        Members of the College of Arts and Sciences honored alumni for their extraordinary professional achievements, volunteer service, and philanthropy during the 2019 Arts and Sciences Alumni Awards dinner Friday, October 11 in the Student Union Ballroom.
        </p>
        <p>
        This year marks the 225th anniversary of the University of Tennessee. What began in 1794 as a small liberal arts college in the Southwest Territory is now Tennessee’s flagship university and premier public research institution. The College of Arts and Sciences still stands as the foundation of education at UT and the gateway to knowledge for all UT students.
        </p>
        <p>
        “Tonight is an evening when we celebrate the depth and breadth of careers that College of Arts & Sciences’ degrees can provide,” said Theresa Lee, dean of the College of Arts and Sciences. “It is both and a privilege and a pleasure to preside over this ceremony and I would like to extend a special welcome to our honorees and their guests. Thank you for joining us on this special occasion. We are extremely proud of your individual and collective achievements.”
        </p>
    </div>
</div>

