<div class="container">
    <div class="img_hero">
        <img src="/assets/images/Achievements/main.jpg" alt="">
    </div>
    <div class="title">
        <h1>Alumni Achievements</h1>
    </div>
    <div class="content">
        <div class="row row-cols-lg-2 row-cols-md-1">
        <div *ngFor="let item of alumni_arr index as id">

            <div class="card" style="width: 26rem;">
                <img class="card-img-top" src="/{{item.photo}}" >
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">Career: {{item.career}}</p>
                  <p class="card-text">Achievements: {{item.achievements}}</p>
                </div>
            </div>

        </div>
        </div>
        <!--
        <p>
        Members of the College of Arts and Sciences honored alumni for their extraordinary professional achievements, volunteer service, and philanthropy during the 2019 Arts and Sciences Alumni Awards dinner Friday, October 11 in the Student Union Ballroom.
        </p>
        <p>
        This year marks the 225th anniversary of the University of Tennessee. What began in 1794 as a small liberal arts college in the Southwest Territory is now Tennessee’s flagship university and premier public research institution. The College of Arts and Sciences still stands as the foundation of education at UT and the gateway to knowledge for all UT students.
        </p>
        <p>
        “Tonight is an evening when we celebrate the depth and breadth of careers that College of Arts & Sciences’ degrees can provide,” said Theresa Lee, dean of the College of Arts and Sciences. “It is both and a privilege and a pleasure to preside over this ceremony and I would like to extend a special welcome to our honorees and their guests. Thank you for joining us on this special occasion. We are extremely proud of your individual and collective achievements.”
        </p>

        <div class="detail">
            <div>
                <p>
                <b>Morgan M. Steffen</b> received the <b>Natural Sciences Achievement Award</b>. Steffen received her PhD in microbiology from UT in 2014. She is an assistant professor at James Madison University. Her area of focus is microbiology, particularly as it pertains to the toxic cyanobacterial blooms that are becoming a problem across the US and around the world. <br>Most recently, Steffen led a team of university and government scientists that examined the potential causes of the Toledo Event in 2014, which resulted in shutting down the water supply to the City of Toledo, Ohio, during the August 2014 holiday weekend leaving approximately 500,000 residents without water. Her efforts combined molecular biology, limnology, and satellite data with mathematical models to find the environmental drivers of the problem. <br> Those data now inform utilities managers how to avoid the same circumstances in the future.
                </p>
            </div>
            <div>
                <img src="/assets/images/Achievements/1.jpg" alt="">
            </div>
        </div>
        <div class="detail">
            <div>
                <p>
                <b>Crystal Wagner</b> received the <b>Visual/Performing Arts Achievement Award</b>. Wagner graduated summa cum laude in 2008 with her Master of Fine Arts in Studio Art with a concentration in printmaking and has established herself as a significant artist with recognition of her work through major exhibitions and commissions both in the United States and abroad. Wagner’s art is represented by galleries in San Francisco, Seattle, New York City, and Paris. She was a 2015 recipient of the prestigious Pollock-Krasner Grant. The pace of her professional activities is astonishing. She has a number of exhibitions and projects scheduled into 2020, with a one-person exhibition at the prestigious international art festival Art Basel in Miami, Florida.
                <br><br>
                “Crystal’s professional record of exhibitions and commissions is notable, and anyone who sees her work can appreciate its sheer beauty and ingenuity,” Lee said. “The ability of the arts to enrich our lives is clearly evident in her labors.”
                </p>
            </div>
            <div>
                <img src="/assets/images/Achievements/2.jpg" alt="">
            </div>
        </div>
        -->
    </div>

</div>

