<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner pt-3">
    <div class="carousel-item active">
      <img src="./assets/img/1sl.jpg" class="d-block w-100" style="height:50%" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/2sl.jpg" class="d-block w-100 h-50" style="height:50%" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/3sl.jpg" class="d-block w-100 h-50" style="height:50%" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Grey Spacer with Button -->
<div class="spacer text-center py-5">
  <div class="row align-items-center">
    <div class="col">
      <p class="px-3"> The Alumni Network and Career Service are the interface between studies and the professional
        world, theory and practice, science and business - for students and graduates of Codefactory.</p>
      <button class="btn btn-primary">More Information</button>
    </div>
  </div>
</div>
<!-- News -->
<div class="container py-5">
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
    <div class="conta">
      <div class="col col1 bg-primary p-5">
        Events & Dates
        <hr>
        <!-- Day1 -->
        <span class="my-element">
          <div class="left-column border border-3">
            <div class="event-day text-center">
              7
            </div>
            <div class="event-month bg-white  text-center">
              JUL
            </div>
          </div>
        </span>
        <h6 class="py-2"> Company Day Codefactory</h6>
        <hr>
        <!-- Day2 -->
        <span class="my-element">
          <div class="left-column border border-3">
            <div class="event-day  text-center">
              8
            </div>
            <div class="event-month bg-white  text-center">
              JUL
            </div>
          </div>
        </span>
        <h6 class="py-2"> Career Day Codefactory</h6>
        <hr>
      </div>
    </div>



    <div class="col col2 bg-body-secondary p-5">
      One of three columns
    </div>
    <div class="col col3 bg-body-tertiary p-5">
      One of three columns
    </div>
  </div>
</div>