<!-- cookie -->
<div class="fixed"><span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-light">
    <img src="./assets/img/cookie.png" class="cookie" alt="">
  </span>
  <p class="mx-3 mt-3 px-2 text text-center">Do you like Cookies ?</p>
  <button class="btn btn-outline-dark m-2">Accept Cookies </button>
  <button class="btn btn-outline-dark m-2 buttondisable">No </button>
</div>

<!--  -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/img/1sl.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Alumni Network</h5>
        <p>The Alumni Network and Career Service</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/img/2sl.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Alumni Career</h5>
        <p>are the interface between studies and the professional world</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/img/3sl.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Alumni Courses</h5>
        <p>for students and graduates of Codefactory.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--  -->
<!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner pt-3">
    <div class="carousel-item active">

      <img src="./assets/img/1sl.jpg" class="d-block w-100" style="height:50%" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/2sl.jpg" class="d-block w-100 h-50" style="height:50%" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/3sl.jpg" class="d-block w-100 h-50" style="height:50%" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->


<!-- Grey Spacer with Button -->
<div class="spacer text-center py-5">
  <div class="row align-items-center">
    <div class="col">
      <p class="px-3 fs-5 fw-semibold grey1"> The Alumni Network and Career Service are the interface between studies
        and
        the
        professional
        world, theory and practice, science and business - for students and graduates of Codefactory.</p>
      <button class="btn" style="background: white; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.362);">More
        Information</button>
    </div>
  </div>
</div>
<!-- News -->
<div class="container py-5">
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 cards1">
    <div class="col col1 p-3" style="background: rgb(96, 150, 186)">
      <div class="conta">
        Events & Dates
        <hr>
        <!-- Day1 -->
        <span class="my-element">
          <div class="left-column border border-3">
            <div class="event-day text-center">
              7
            </div>
            <div class="event-month bg-white  text-center">
              JUL
            </div>
          </div>
        </span>
        <h6 class="py-2"> Alumni Getaway</h6>
        <p class="smallp">Join us for an exciting alumni getaway, reconnecting with ...</p>
        <!-- fellow graduates and enjoying
          memorable moments together. Don't miss out! -->
        <hr>
        <!-- Day2 -->
        <span class="my-element">
          <div class="left-column border border-3">
            <div class="event-day  text-center">
              8
            </div>
            <div class="event-month bg-white  text-center">
              JUL
            </div>
          </div>
        </span>
        <h6 class="py-2"> Motivational Speaker</h6>
        <p class="smallp">Join us for an inspiring event featuring a renowned motivational...</p>
        <!--  speaker who will share
          insights
          and stories
          about successful alumni journeys. -->
        <hr>
        <div class="btn btn-outline-light"><a class="show" routerLink="/events">show more</a></div>
      </div>
    </div>

    <div class="col col2 pt-5 text-center pb-5" style="background: rgb(39, 76, 119)">
      Membership
      <hr>
      <!-- Day1 -->
      <span class="my-element1">
        <div class="left-column">
          <div class="member d-flex pb-4">
            <h6>
              <!-- <div class="badge bg-primary text-wrap" style="width: 6rem;">
                <div style="font-weight: 300;">Membership</div> onSite
              </div> -->
              <div style="font-weight: 300;">Membership</div> onSite
            </h6>
            <h6>
              <!-- <div class="badge bg-primary text-wrap" style="width: 6rem;">
                <div style="font-weight: 300;">Membership</div> Bonus
              </div> -->
              <div style="font-weight: 300;">Membership</div> Bonus
            </h6>
            <h6>
              <!-- <div class="badge bg-primary text-wrap" style="width: 6rem;">
                <div style="font-weight: 300;">Membership</div> Normal
              </div> -->
              <div style="font-weight: 300;">Membership</div> Normal
            </h6>
          </div>
        </div>
      </span>
      <!-- <h6 class="py-2"> Company Day Codefactory</h6> -->

      <div class="text-centerd-flex">
        <div class="row">
          <div class="col border mx-3 rounded fs-5 py-3 pr1">
            Free
          </div>
          <div class="col border rounded fs-5 py-3 pr2">
            20€*
          </div>
          <div class="col border mx-3 rounded fs-5 py-3 pr3">
            30€*
          </div>
        </div><button class="btn btn-light mt-5 price">show more</button>
        <p class="smallp mt-4">*You can upgrade from one tier to the next one whenever you want simply by paying the
          cost
          difference.</p>
      </div>
    </div>

    <div class="col col3 p-3 text-end" style="background: rgb(96, 150, 186)">
      <!-- Career & Jobs
    </div> -->
      <div class="conta">
        Career & Jobs
        <hr>
        <!-- Jobs Links -->
        <span class="my-element">
          <div class="left-column">
          </div>
        </span>
        <h6 class="py-2"> Career Workshops</h6>
        <hr>
        <!-- -->
        <span class="my-element">
          <div class="left-column">
          </div>
        </span>
        <h6 class="py-2"> Connect+ Career & Job </h6>
        <hr>
        <!-- -->
        <span class="my-element">
          <div class="left-column">
          </div>
        </span>
        <h6 class="py-2"> Career Paths</h6>
        <hr>
        <!-- -->
        <span class="my-element">
          <div class="left-column">
          </div>
        </span>
        <h6 class="py-2"> Mentoring</h6>
        <hr>
      </div>
    </div>
  </div>
</div>


<!-- Section Service -->
<section>
  <div class="container">
    <div class="row mbr-justify-content-center">
      <div class="overviewcourse text-center fs-1 py-5" data-text="Overview Courses">Overview Courses</div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap hover">
          <div class="ico-wrap">
            <span class="courses"><img src="./assets/img/html5.png" height="120px" alt="html5"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style5">HTML5
              <span class="course">Basic</span>
            </h2>
            <p class="mbr-fonts-style">Markup language,
              Structure content,
              Semantics,
              Tags and elements,
              Document structure,
              HTML5 doctype,
              Responsive design,
              Multimedia support,
              Form input types,
              Cross-browser compatibility</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="courses"><img src="./assets/img/css3.png" height="120px" alt="css3"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style">CSS
              <span class="course">Basic</span>
            </h2>
            <p class="mbr-fonts-style">Cascading Style Sheets,
              Styling and presentation,
              Selectors and specificity,
              Box model,
              Layout and positioning,
              Responsive design,
              Transitions and animations,
              Media queries,
              Flexbox and Grid systems,
              Vendor prefixes</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="courses"><img src="./assets/img/ang.png" height="120px" alt="angular"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style">Angular <span class="course">Pro</span>
            </h2>
            <p class="mbr-fonts-style ">
              TypeScript-based framework,
              Single-page applications (SPAs),
              Component-based architecture,
              Two-way data binding,
              Dependency injection,
              Routing and navigation,
              Reactive forms,
              Angular CLI (Command Line Interface),
              Angular Material for UI components.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="courses"><img src="./assets/img/js.png" height="120px" alt="javascript"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style">JavaScript <span class="course">Pro</span>
            </h2>
            <p class="mbr-fonts-style">
              High-level programming language,
              Client-side scripting,
              Interactivity and dynamic content,
              Event-driven programming,
              Object-oriented programming (OOP),
              Data manipulation and DOM manipulation,
              Asynchronous programming with callbacks and Promises,
              Browser compatibility and ECMAScript standards
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="courses hover"><img src="./assets/img/nodejs.png" height="120px" alt="nodejs"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style">NodeJS <span class="course">Basic</span>
            </h2>
            <p class="mbr-fonts-style">
              JavaScript runtime environment,
              Server-side and networking applications,
              Non-blocking, event-driven architecture,
              NPM (Node Package Manager) for package management,
              Express.js for building web applications,
              Scalability and handling concurrent requests,
              File system operations and streams,
              Microservices and API development.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="courses"><img src="./assets/img/php.png" height="120px" alt="php"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style">PHP <span class="course">Pro</span>
            </h2>
            <p class="mbr-fonts-style">
              Server-side scripting language,
              Embedded within HTML,
              Open-source and widely used,
              Designed for web development,
              Supports various databases,
              Object-oriented programming (OOP) features,
              Commonly used with MySQL or MariaDB,
              PHP frameworks like Laravel and Symfony,
              Handling forms, sessions, and cookies</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="courses"><img src="./assets/img/boots.png" height="120px" alt="bootstrap"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style">Bootstrap <span class="course">Basic</span>
            </h2>
            <p class="mbr-fonts-style">
              Front-end framework,
              HTML, CSS, and JavaScript components,
              Responsive design and mobile-first approach,
              Grid system for layout and alignment,
              Pre-styled UI components (e.g., buttons, forms),
              Responsive utilities and breakpoints,
              Customizable themes and styling options,
              JavaScript plugins for interactivity,
              Rapid prototyping and development</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="courses"><img src="./assets/img/phyt.png" height="120px" alt="css3"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style">Phyton <span class="course">Pro</span>
            </h2>
            <p class="mbr-fonts-style">
              High-level programming language,
              Readability and simplicity,
              Versatile and general-purpose,
              Object-oriented programming (OOP) support,
              Large standard library,
              Cross-platform compatibility,
              Dynamic typing and automatic memory management,
              Extensive community and ecosystem,
              data analysis, Automation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CARDS TEXT LINK -->
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 cards2 gap-3 py-5">

  <div class="card" style="width: 18rem;">
    <img src="./assets/img/c1m.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Members Alumni</h5>
      <p class="card-text">Stay a member, join our alumni program, get all the news and never lose track.
      </p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">Forms of Memberships</li>
      <li class="list-group-item">Advantages as a member</li>
      <li class="list-group-item">Support the alumni network</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Be a Mentor</a>
      <a href="#" class="card-link">Expertise</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="./assets/img/c2m.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alumni Staff</h5>
      <p class="card-text">Check the actuall Team of Alumni4c, get ready to Join us soon.
      </p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">Alumni Stories</li>
      <li class="list-group-item">Alumni Mentoring</li>
      <li class="list-group-item">Alumni Achievements</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="./assets/img/c3m.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alumni Benefits</h5>
      <p class="card-text">Exclusive benefits for our alumni-network members from Alumni4c.
      </p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">Art & culture</li>
      <li class="list-group-item">Fit & Food</li>
      <li class="list-group-item">LanguageCert</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="./assets/img/c4m.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

</div> <!--Last-->
<!-- Grey Spacer with Button -->
<div class="spacer1 text-center py-5">
  <div class="row align-items-center">
    <div class="col">
      <p class="px-3 fw-semibold"> The Alumni Network and Career Service are the interface between studies and the
        professional
        world, theory and practice, science and business - for students and graduates of Codefactory.</p>
      <button class="btn" style="background: white; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.362);">More
        Information</button>
    </div>
  </div>
</div>
<!-- TABLE -->
<table class="table table-hover mx-5 my-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>