.spacer {
  background: rgba(128, 128, 128, 0.318)
}

.col1 {
  color: white;
  font-size: xx-large;
  font-weight: 600;
  // max-width: 10em;
}

.my-element {
  display: block;
  margin-right: 5px;
  // height: 3em;
  width: 2.3em;
}

// .event-day,
// .event-month {
//   text-align: center
// }

.event-day {
  font-size: 0.9em;
  // font-weight: bolder;
  // line-height: normal
}

.event-month {
  font-size: 1em;
  font-weight: 400;
  // line-height: normal;
  color: #0d6efd;
  // background-color: #04799c;
  text-transform: uppercase;
  border-radius: 0 0 2px 2px
}

.left-column {
  border-radius: 5px;
  // max-width: 2.3em;
  border-color: white;
}