.spacer {
  background: rgba(128, 128, 128, 0.318)
}

.spacer1 {
  background: rgba(128, 128, 128, 0.084)
}

.cards1 {
  justify-content: center;
}

.cards2 {
  justify-content: center;
}

.col1,
.col2,
.col3 {
  color: white;
  font-size: xx-large;
  font-weight: 600;
  // max-width: 10em;
  margin: 2px;
  max-width: 11.5em;

}



.my-element {
  display: block;
  // margin-right: 5px;
  // height: 3em;
  width: 2.3em;
}

.my-element1 {

  // margin-right: 5px;
  // height: 3em;
  // width: 2.3em;
  // text-align: center;
  // justify-content: space-between;
  // align-items: center;

  .member {

    // text-align: center;


    justify-content: space-between;
    // justify-content: space-between;

  }
}

// .event-day,
// .event-month {
//   text-align: center
// }

.event-day {
  font-size: 0.9em;
  // font-weight: bolder;
  // line-height: normal
}

.event-month {
  font-size: 1em;
  font-weight: 400;
  // line-height: normal;
  color: black;
  // background-color: #04799c;
  text-transform: uppercase;
  border-radius: 0 0 2px 2px
}

.left-column {
  border-radius: 5px;
  // max-width: 2.3em;
  border-color: white;
}

// .col2 {
//   background: rgba(var(--bs-success-rgb), var(--bs-bg-opacity))
// }

.btn {
  transition: 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scaleY(1.1);
}

// SERVICES

section {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #f1f4fa;
}

.wrap {
  display: flex;
  background: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.wrap:hover {
  background: linear-gradient(135deg, #6394ff 0%, #0a193b 100%);
  color: white;
}

.ico-wrap {
  margin: auto;
}

.mbr-iconfont {
  font-size: 4.5rem !important;
  color: #313131;
  margin: 1rem;
  padding-right: 1rem;
}

.vcenter {
  margin: auto;
}

.mbr-section-title3 {
  text-align: left;
}

h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.display-5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
}

.mbr-bold {
  font-weight: 700;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 25px;
}

.display-6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1re
}