<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner pt-3">
    <div class="carousel-item active">
      <img src="./assets/img/1sl.jpg" class="d-block w-100" style="height:50%" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/2sl.jpg" class="d-block w-100 h-50" style="height:50%" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./assets/img/3sl.jpg" class="d-block w-100 h-50" style="height:50%" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Grey Spacer with Button -->
<div class="spacer text-center py-5">
  <div class="row align-items-center">
    <div class="col">
      <p class="px-3 fw-semibold"> The Alumni Network and Career Service are the interface between studies and the
        professional
        world, theory and practice, science and business - for students and graduates of Codefactory.</p>
      <button class="btn" style="background: white; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.362);">More
        Information</button>
    </div>
  </div>
</div>
<!-- News -->
<div class="container py-5">
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 cards1">
    <div class="col col1 p-3" style="background: rgb(96, 150, 186)">
      <div class="conta">
        Events & Dates
        <hr>
        <!-- Day1 -->
        <span class="my-element">
          <div class="left-column border border-3">
            <div class="event-day text-center">
              7
            </div>
            <div class="event-month bg-white  text-center">
              JUL
            </div>
          </div>
        </span>
        <h6 class="py-2"> Company Day Codefactory</h6>
        <hr>
        <!-- Day2 -->
        <span class="my-element">
          <div class="left-column border border-3">
            <div class="event-day  text-center">
              8
            </div>
            <div class="event-month bg-white  text-center">
              JUL
            </div>
          </div>
        </span>
        <h6 class="py-2"> Career Day Codefactory</h6>
        <hr>
      </div>
    </div>

    <div class="col col2 pt-5 text-center pb-5" style="background: rgb(39, 76, 119)">
      Membership
      <hr>
      <!-- Day1 -->
      <span class="my-element1">
        <div class="left-column">
          <div class="member d-flex p-4">
            <h6>
              <div style="font-weight: 300;">Membership</div> onSite
            </h6>
            <h6>
              <div style="font-weight: 300;">Membership</div> Bonus
            </h6>
            <h6>
              <div style="font-weight: 300;">Membership</div> Normal
            </h6>
          </div>
        </div>
      </span>
      <!-- <h6 class="py-2"> Company Day Codefactory</h6> -->

      <div class="text-centerd-flex">
        <div class="row">
          <div class="col border mx-3 rounded fs-5 py-3">
            Free
          </div>
          <div class="col border rounded fs-5 py-3">
            20€*
          </div>
          <div class="col border mx-3 rounded fs-5 py-3">
            30€*
          </div>
        </div><button class="btn btn-light mt-5 price">show more</button>
      </div>
    </div>

    <div class="col col3 p-3 text-end" style="background: rgb(96, 150, 186)">
      <!-- Career & Jobs
    </div> -->
      <div class="conta">
        Career & Jobs
        <hr>
        <!-- Jobs Links -->
        <span class="my-element">
          <div class="left-column">
          </div>
        </span>
        <h6 class="py-2"> Career Workshops</h6>
        <hr>
        <!-- -->
        <span class="my-element">
          <div class="left-column">
          </div>
        </span>
        <h6 class="py-2"> Connect+ Career & Job </h6>
        <hr>
        <!-- -->
        <span class="my-element">
          <div class="left-column">
          </div>
        </span>
        <h6 class="py-2"> Career Paths</h6>
        <hr>
        <!-- -->
        <span class="my-element">
          <div class="left-column">
          </div>
        </span>
        <h6 class="py-2"> Mentoring</h6>
        <hr>
      </div>
    </div>
  </div>
</div>

<!-- Grey Spacer with Button -->
<div class="spacer1 text-center py-5">
  <div class="row align-items-center">
    <div class="col">
      <p class="px-3 fw-semibold"> The Alumni Network and Career Service are the interface between studies and the
        professional
        world, theory and practice, science and business - for students and graduates of Codefactory.</p>
      <button class="btn" style="background: white; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.362);">More
        Information</button>
    </div>
  </div>
</div>

<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 cards2 gap-3 py-5">

  <div class="card" style="width: 18rem;">
    <img src="./assets/img/c1m.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Members Alumni</h5>
      <p class="card-text">Stay a member, join our alumni program, get all the news and never lose track.
      </p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">Forms of Memberships</li>
      <li class="list-group-item">Advantages as a member</li>
      <li class="list-group-item">Support the alumni network</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Be a Mentor</a>
      <a href="#" class="card-link">Expertise</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="./assets/img/c2m.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alumni Staff</h5>
      <p class="card-text">Check the actuall Team of Alumni4c, get ready to Join us soon.
      </p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">Alumni Stories</li>
      <li class="list-group-item">Alumni Mentoring</li>
      <li class="list-group-item">Alumni Achievements</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="./assets/img/c3m.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alumni Benefits</h5>
      <p class="card-text">Exclusive benefits for our alumni-network members from Alumni4c.
      </p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">Art & culture</li>
      <li class="list-group-item">Fit & Food</li>
      <li class="list-group-item">LanguageCert</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="./assets/img/c4m.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body text-center">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

</div> <!--Last-->

<!-- TABLE -->
<table class="table table-hover mx-5 mb-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<!-- Section Service -->
<section>
  <div class="container">


    <div class="row mbr-justify-content-center">

      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-volume-up fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style">Stay <span>Successful</span></h2>
            <p class="mbr-fonts-style">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-calendar fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style5">Create
              <span>An Effective Team</span>
            </h2>
            <p class="mbr-fonts-style">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-globe fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style">Launch
              <span>A Unique Project</span>
            </h2>
            <p class="mbr-fonts-style ">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-trophy fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style">Achieve <span>Your Targets</span></h2>
            <p class="mbr-fonts-style">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>