.infoMembership {
        margin: 50px 130px 50px 130px;
        
        h2 {
            margin-bottom: 20px;
        }
        h4 {
            margin-bottom: 50px;
        }
}

.class1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .generalInfo {
        background-color: #E7ECEF;
        width: 600px;
        height: 500px;
        padding: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .membershipForms {
        background-color: #A3CEF1;
        width: 600px;
        height: 500px;
        padding: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.class2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .membershipAdvanteges {
        background-color: #A3CEF1;
        width: 600px;
        height: 500px;
        padding: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .membershipNonFinancial {
        background-color: #E7ECEF;
        width: 600px;
        height: 500px;
        padding: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.myBtn {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    .myButton {
        height: 60px;
        width: 600px;
        border-style: none;
        border-radius: 5px;
        background-color: white;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.362);
        transition: 0.2s ease;
    }
    .myButton:hover {
        transform: scale(1.05);
    }

    .myButton:active {
        transform: scaleY(1.1);
    }
}

.myBtn2 {
    display: flex;
    justify-content: space-between;
    padding-top: 59px;

    .myButton2 {
        height: 60px;
        width: 220px;
        border-style: none;
        border-radius: 5px;
        background-color: white;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.362);
        transition: 0.2s ease;
    }
    .myButton2:hover {
        transform: scale(1.05);
    }

    .myButton2:active {
        transform: scaleY(1.1);
    }
}
