<div class="infoMembership">

<div class="sectionMembership generalInfo">
    <h2>Missing CodeFactory?</h2>
    <h3>Stay a member, join our alumni program, get all the news and never lose track.</h3>
    <p id="generalInfoID">Memberships and active participation are important to keep our alumni network working and always up to date.<br>There are different options for participating in the alumni network - from financial support to sharing your expertise. We are thankful for every kind of support.<br> Get more information about membership-opportunities, active participation and benefits for our members on this page. Just click the buttons for more specific information.</p>
</div>
<div class="sectionMembership membershipForms">
    <h2>Forms of Memberships</h2>
    <p>Are you a cours eparticipant right now?</p>
    <p>Did you finish the course recently?</p>
    <p>The times of your course participation are long gone, but you can't stop thinking about code factory?</p>
    <p>We have an appropriate membership possibility for everyone. Just check them out and inform yourself. Welcome and see you soon!</p>
    <a routerLink="/forms-of-membership">Check memberships</a>
</div>
<div class="sectionMembership membershipAdvanteges">
    <h2>Advantages as a member</h2>
    <ul>
        <li>Join different activities</li>
        <li>Join our networking lunches, dinners and breakfasts</li>
        <li>Visit at our open door events</li>
        <li>Join online international networking events</li>
        <li>Never loose track and stay informed</li>
        <li>Job informations</li>
        <li>Use a variety of financial benefits</li>
    </ul>
    <a href="#">Check out benefits</a>
</div>
<div class="sectionMembership membershipNonFinancial">
    <h2>Support the alumni network with knowledge</h2>
    <p>Either join us as a mentor and support newly grads with your information</p>
    <a href="#">be a mentor</a>
    <p>Or get active as a company, visit us, be part of the lecture programme and support course members with your expertise</p>
    <a href="#">support with expertise</a> 
</div>
</div>

