.sectionMembership {
    height: 250px;
    padding-top: 20px;
    margin-bottom: 10px;
    font-family: sans-serif;

    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
}

.generalInfo {
    background-color: #d6ccc2;
}

.membershipForms {
    background-color: #edede9;
}

.membershipAdvanteges {
    background-color: #d6ccc2;
}

.membershipNonFinancial {
    background-color: #edede9;
}